@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  vertical-align: middle;
}

body {
  margin: 0;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#tok {
  display: none;
  visibility: hidden;
}

.card {
  max-width: 400px;
  position: relative;

  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0.5rem 0.5rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}

#volume-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 22px;
  height: 22px;
  color: gray;
  fill: currentColor;
  z-index: 1;
}

#volume-indicator {
  position: absolute;
  top: 27px;
  right: 27px;
  background: rgba(230, 230, 230, 0.5);
  transition-property: top, right, width, height, border-radius;
  transition-duration: 0.1s;
}

@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

h1 {
  margin: 0;
  font-size:2rem;
  font-weight:300;
}

.ok {
  color:#539D00;
}

.danger {
  color: #cf1515;
}

h2 {
  font-size:.9rem;
  color:gray;
  font-weight:400;
}
