extends layouts/default.jade

block main

  script.
    trackingId="#{trackingId}";

  #map

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxgWt8pEgJ-Eiwj0_PnYEOngQstCMHr9E")
  script(src="/js/t.js")
